/*Style*/
.readed{
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.not-readed{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}